<div class="my-4">
    <!-- Form tìm kiếm -->
    <partial name="_SearchForm"/>

    <!-- Các chuyên mục/chủ đề -->
    @await Component.InvokeAsync("CategoriesWidget")

    <!-- TOP 3 bài viết được xem nhiều nhất -->
    @await Component.InvokeAsync("FeaturedPostsWidget")

    <!-- TOP 5 bài viết ngẫu nhiên -->
    @await Component.InvokeAsync("RandomPostsWidget")

    <!-- Danh sách các thẻ (tag) -->
    @await Component.InvokeAsync("TagCloudWidget")

    <!-- TOP 4 tác giả có nhiều bài viết nhất -->
    @await Component.InvokeAsync("BestAuthorsWidget")

    <!--  Danh sách 12 tháng gần nhất -->
    @await Component.InvokeAsync("ArchivesWidget")

    <!-- Top bài viết nổi bật -->
    <h1>
        Bài viết nổi bật
    </h1>

    <!-- Đăng ký nhận tin mới -->
    <h3 class="text-success mb-2">
        Đăng ký nhận thông báo
    </h3>
    <partial name="_NewsletterForm" />

    
</div>

